@import "../../styles/variables";

.button {
  background-color: #ffffff;
  border-radius: 4px;
  background-color: #ffffff;
  border-style: none;
  color: $guild-teal;
  padding: 10px 24px;
  width: 185px;
  margin-bottom: 16px;

  .buttonText {
    letter-spacing: 1px;
    font-family: "Nunito Sans";
    font-weight: 500;
    font-size: 16px;
  }

  .editIcon {
    height: 18px;
    vertical-align: sub;
    margin: 0 0 0 5px;
  }
}
