$guild-teal: #007d8c;
$guild-green: #3dad0e;
$guild-navy: #063647;
$guild-med-gray: #686868;
$guild-dark-gray: #303030;
$guild-light-gray: #e4e4e4;
$guild-box-shadow: 0 1px 3px 0 rgba(89, 89, 89, 0.23);
