@import "../../styles/variables";

.container {
  align-items: center;
  box-shadow: $guild-box-shadow;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 80px;
  width:100vw;

  .logo {
    width: 100px;
  }

  .username {
    cursor: pointer;
    text-transform: capitalize;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: normal;
    color: $guild-dark-gray;
    margin: 0px;
  }
}
