@import "../../styles/variables";

.container {
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(89, 89, 89, 0.23);
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 80px;
}

.logo {
  width: 100px;
}

.username {
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: normal;
  color: $guild-dark-gray;
  margin: 0px;
}
