@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form {
  box-shadow: $guild-box-shadow;
  display: flex;
  height: 100px;
  padding: 24px 40px 32px;
}

.header {
  border-bottom: 1px solid $guild-light-gray;
}

.input {
  border: 1px solid $guild-dark-gray;
  border-radius: 2px;
  min-width: 788px;
  padding-left: 12px;
}

.messageContainer {
  align-items: center;
  display: flex;

  p {
    margin: 0;
  }

  .senderName {
    font-size: 18px;
    margin-right: 8px;
  }

  .sentAt {
    font-size: 14px;
  }
}

.messageList {
  border-bottom: 1px solid $guild-light-gray;
  height: 453.5px;
}

.submit {
  background-color: $guild-teal;
  border-color: $guild-teal;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  height: 44px;
  margin-left: 16px;
  padding: 14px 24px;
}

.errorText{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: .13px;
  text-align: left;
  color: $guild-med-gray;
  margin-bottom: 10px;
}